<section id="certificates" class="py-5 certificates dark-theme" >
<div class="container spacer-certi">
    <h2 class="centered-section front dark-theme" >Certificates&emsp;&emsp;&emsp;&emsp;</h2>
    <div class="main">
        <div class="certi-container">
            <button id="prev-button-certi"><i class="fa-solid fa-chevron-left"></i></button>
            <div class="project-cards">
                <!-- Your projects will go here -->
                <ul class="cards">
                    <li class="cards_item1">
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>C#</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiC%23.png" alt="C# Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>JavaScript</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiJavaScript.png" alt="JavaScript Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cards_item1">
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Java</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiJava.png" alt="Java Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>HTML</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiHTML.png" alt="HTML Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="cards_item1">
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Python</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiPython.png" alt="Python Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>CSS</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiCSS.png" alt="CSS Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item1">
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>SQL</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiSQLProgramming.png" alt="SQL Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Database</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiProgrammingFoundationsDatabases.png" alt="Database Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cards_item1">
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Web Development</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiWebDevelopment.png" alt="WebDevelopment Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Programming Fundamentals</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiProgrammingFoundationsFundamentals.png" alt="Programming Fundamentals Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="cards_item1">
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Programming Beyond Fundamentals</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiProgrammingFoundationsBeyondTheFundamentals.png" alt="Beyond Fundamentals Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Software Testing</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiSoftwareTestingFoundations.png" alt="Software Testing Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="cards_item1">
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Career Skills</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiCareerSkills.png" alt="Career Skills Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card-certificate">
                                <div class="card-certificate-inner">
                                    <div class="card-certificate-front">
                                        <p>Software Developer</p>
                                        <span class="note">Linkedin</span>
                                    </div>
                                    <div class="card-certificate-back">
                                        <div class="card_image">
                                            <img src="/images/Certificates/CertiSoftwareDeveloper.png" alt="Software Developer Certi" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <button id="next-button-1"><i class="fa-solid  fa-chevron-right"></i></button>
        </div>
    </div>
</div>
</section>

<script>
    // JavaScript for handling project navigation
    const prevButtonCerti = document.getElementById('prev-button-certi');
    const nextButtonCerti = document.getElementById('next-button-1');
    const certiCards = document.querySelectorAll('.cards_item1');

    let currentIndex = 0;

    nextButtonCerti.addEventListener('click', () => {
        if (currentIndex + 3 < certiCards.length) {
            currentIndex += 3;
            updateCertiDisplay();
        }
    });

    prevButtonCerti.addEventListener('click', () => {
        if (currentIndex > 0) {
            currentIndex -= 3;
            updateCertiDisplay();
        }
    });

    function updateCertiDisplay() {
        certiCards.forEach(card => {
            card.style.display = 'none';
        });

        for (let i = currentIndex; i < currentIndex + 3; i++) {
            if (certiCards[i]) {
                certiCards[i].style.display = 'block';
            }
        }
    }

    // Initialize the display
    updateCertiDisplay();

</script>