<section id="about"  class="py-5 aboutme" style="color:#ffffff;">
    <div class="row spacer">
            <div class="image-container centered-section col-md-6 margin">
                <div class="row image-flipper spacer-image">
                    <div class="image-front">
                        <img src="dp/ZeelAboutMe.png" id="ZeelAboutMe" class="img-fluid image-container about-image rounded-circle" alt="Image">

                    </div>
                    <div class="image-back rounded-circle" style="background-color: #1985de">
                        <!-- Text and icon that will appear on the backside -->
                        <p>It's Me!!</p>
                        <div class="container">
                            <div class="row col-md-6">
                                <a href="https://github.com/Zeel-Sutariya/"><i class="icon-1 fa-brands fa-github fa-shake"></i></a>
                                <a href="https://www.linkedin.com/in/zeel-sutariya/"><i class="icon-2 fa-brands fa-linkedin"></i></a>
                                <a href="mailto: zeelsutariya24@gmail.com"><i class="icon-3 fa-solid fa-envelope"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div id="aboutmedesc" class="col-md-6 margin margin-left animate__animated animate__fadeInUp">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at erat lorem. Curabitur eu tristique dui. Quisque suscipit, dolor vel tincidunt ullamcorper, metus neque commodo arcu, id aliquam nisl urna non erat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at erat lorem. Curabitur eu tristique dui. Quisque suscipit, dolor vel tincidunt ullamcorper, metus neque commodo arcu, id aliquam nisl urna non erat.</p>
            <a href="/about" id="learnmore" class="btn btn-primary animate__animated animate__fadeIn">Learn More</a>
        </div>
    </div>
</section>

<section id="curve" class="curve" style="">
    <div class="graph__wrapper1">
        <svg width="100%" height="100%" fill="#202124" style="overflow: visible;">
            <defs>
                <clipPath id="curve-clip">
                    <path d="M0,40 Q200,0 400,20 Q600,40 800,20 Q1000,0 1200,20 Q1400,40 1530,20 V100 H0 V40Z"/>
                </clipPath>
            </defs>

            <rect width="1000%" height="100%" fill="#202124" clip-path="url(#curve-clip)" />
            <path id="Path-4" class="" fill="none" stroke="#202124" stroke-width="5" stroke-linejoin="round" stroke-miterlimit="10" d="M0,40 Q200,0 400,20 Q600,40 800,20 Q1000,0 1200,20 Q1400,40 1530,20"/>
        </svg>
    </div>
</section>

<section id="projects" class="py-5 projects" style="background-color: #202124" >
    <div class="container spacer margin-less">
        <h2 style="color: white">Projects</h2>
        <div class="row margin-less">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="projectsphoto/paycalculator.jpeg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="projectsphoto/pizzashop.jpeg" class="card-img-top" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Project 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <!--            <div class="col-md-4 mb-4">-->
            <!--                <div class="card h-100">-->
            <!--                    <img src="projectsphoto/salescompany.jpeg" class="card-img-top" alt="Project 3">-->
            <!--                    <div class="card-body">-->
            <!--                        <h5 class="card-title">Project 3</h5>-->
            <!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="projectsphoto/salescompany.jpeg" class="card-img-top" alt="Project 3">
                    <div class="card__content">
                        <p class="card__title">Project 3</p>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

