<section id="about"  class="py-5 aboutme" style="color:#ffffff;">
    <div class="image-container">
        <div class="row image-flipper">
            <div class="image-front">
                <img src="dp/ZeelAboutMe.png" class="img-fluid image-container rounded-circle" alt="Image">

            </div>
            <div class="image-back rounded-circle" style="background-color: gray">
                <!-- Text and icon that will appear on the backside -->
                <p>Hover Text</p>
                <i class="icon-class">Icon</i>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="image-container">
        <div class="image-flipper">
            <div class="image-front">
                <img src="dp/ZeelAboutMe.png" class="img-fluid image-container rounded-circle" alt="Image">
            </div>
            <div class="image-back rounded-circle" style="background-color: gray">
                <!-- Text and icon that will appear on the backside -->
                <p>Hover Text</p>
                <i class="icon-class">Icon</i>
            </div>
        </div>
    </div>
</section>