<div class="fixed-button" >
        <a href="#myintro"   class=" half-rounded-button">Hello</a>
        <a href="#about"   class=" half-rounded-button">About</a>
        <a href="#projects" class=" half-rounded-button">Projects</a>
</div>
<script !src="">
        $(document).ready(function() {
                // Select all section links
                $('.half-rounded-button').on('click', function() {
                        // Remove active class from all section links
                        $('.half-rounded-button').removeClass('nav-active');
                        // Add active class to the clicked section link
                        $(this).addClass('nav-active');
                });
        });

        document.addEventListener('scroll', function() {
                var sections = document.getElementsByClassName('py-5');
                var currentPosition =  window.scrollY;  // Calculate the current position with some offset
                var totalScrollLength = Math.max(
                        document.documentElement.scrollHeight,
                        document.body.scrollHeight
                );
                let currentsection = 0;
                // console.log(`total slength${totalScrollLength}  cur ;en ${currentPosition} `);
                if(currentPosition >= 0 && currentPosition <= totalScrollLength*0.21 )
                {
                       currentsection=1;
                }else  if(currentPosition >totalScrollLength*0.21 && currentPosition <= totalScrollLength * 0.53  )
                {
                        currentsection=2
                }else  if(currentPosition> totalScrollLength*0.5 )
                {
                        currentsection=3;
                }
                let links =  $('.half-rounded-button');

                links.map((i)=>{

                        if(i==currentsection-1)

                        {
                                $(links[i]).addClass('nav-active')
                        }
                        else
                        {
                                $(links[i]).removeClass('nav-active')

                        }


                        console.log($(this))

                })


        });



</script>

<script>
    document.addEventListener('mousemove', function(event) {
        var cursor = document.querySelector('.custom-cursor');
        cursor.style.left = event.clientX + -7 + 'px';
        cursor.style.top = event.clientY + 'px';
        cursor.style.boxShadow = '0 0 200px 200px rgba(255, 255, 255, 0.1)';
    });

    document.addEventListener('mouseleave', function(event) {
        var cursor = document.querySelector('.custom-cursor');
        cursor.style.boxShadow = 'none';
    });
</script>

<div class="custom-cursor"></div>






