<section  id="myintro" class="py-5 name" style="color:#ffffff;">
    <h1 class="centered-section">I'm Zeel Sutariya.</h1>
</section>

<!--<section id="about"  class="py-5 aboutme" style="color:#ffffff;">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 margin-image position-relative centered-section">-->
<!--                <h1 class="pos">Zeel</h1>-->
<!--                <img src="dp/ZeelAvatarBlueZoom.png" alt="Profile Picture" class="img-fluid mb-4 about-image fade-out-overlay rounded-circle">-->

<!--            </div>-->
<!--            <div class="col-md-6 margin animate__animated animate__fadeInUp">-->
<!--                <h2>About Me</h2>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at erat lorem. Curabitur eu tristique dui. Quisque suscipit, dolor vel tincidunt ullamcorper, metus neque commodo arcu, id aliquam nisl urna non erat.</p>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at erat lorem. Curabitur eu tristique dui. Quisque suscipit, dolor vel tincidunt ullamcorper, metus neque commodo arcu, id aliquam nisl urna non erat.</p>-->
<!--                <a href="#" class="btn btn-primary animate__animated animate__fadeIn">Learn More</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section id="about"  class="py-5 aboutme" style="color:#ffffff;">
    <div class="row">
        <div class="image-container centered-section col-md-6 margin">
            <div class="row image-flipper ">
                <div class="image-front">
                    <img src="dp/ZeelAboutMe.png" id="ZeelAboutMe" class="img-fluid image-container about-image rounded-circle" alt="Image">

                </div>
                <div class="image-back rounded-circle" style="background-color: #1985de">
                    <!-- Text and icon that will appear on the backside -->
                    <p>It's Me!!</p>
                    <div class="container">
                        <div class="row col-md-6">
                            <a href="https://github.com/Zeel-Sutariya/"><i class="icon-1 fa-brands fa-github fa-shake"></i></a>
                            <a href="https://www.linkedin.com/in/zeel-sutariya/"><i class="icon-2 fa-brands fa-linkedin"></i></a>
                            <a href="mailto: zeelsutariya24@gmail.com"><i class="icon-3 fa-solid fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 margin margin-left animate__animated animate__fadeInUp">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at erat lorem. Curabitur eu tristique dui. Quisque suscipit, dolor vel tincidunt ullamcorper, metus neque commodo arcu, id aliquam nisl urna non erat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at erat lorem. Curabitur eu tristique dui. Quisque suscipit, dolor vel tincidunt ullamcorper, metus neque commodo arcu, id aliquam nisl urna non erat.</p>
            <a href="javascript:void(0)" id="learnmore" class="btn btn-primary animate__animated animate__fadeIn">Learn More</a>
        </div>
    </div>
</section>


<section id="projects" class="py-5 projects" >
    <div class="container margin-less">
        <h2 style="color: white">Portfolio</h2>
        <div class="row margin-less">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="projectsphoto/paycalculator.jpeg" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Project 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="projectsphoto/pizzashop.jpeg" class="card-img-top" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Project 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-4 mb-4">-->
<!--                <div class="card h-100">-->
<!--                    <img src="projectsphoto/salescompany.jpeg" class="card-img-top" alt="Project 3">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Project 3</h5>-->
<!--                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="projectsphoto/salescompany.jpeg" class="card-img-top" alt="Project 3">
                    <div class="card__content">
                        <p class="card__title">Project 3</p>
                        <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
